*.class
*.md
project/
target/
/bin/

*.cache-main
.settings/org.eclipse.core.resources.prefs
*.cache-tests
.cache-main
.settings/org.eclipse.core.resources.prefs
*.classpath
*.cache-main
.cache-tests
.settings/org.eclipse.core.resources.prefs
.worksheet/src/com.inbravo.ws.Addhoc.scala